Source: sqlite
Section: devel
Priority: optional
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.hu>
Build-Depends: cdbs (>= 0.4.15), debhelper (>= 6), autoconf (>= 2.59), libtool (>= 1.5.2), automake1.9, autotools-dev, libreadline-dev, tcl8.4-dev
Standards-Version: 3.8.3

Package: sqlite
Section: database
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: sqlite-doc
Description: command line interface for SQLite
 SQLite is a C library that implements an SQL database engine. 
 Programs that link with the SQLite library can have SQL database 
 access without running a separate RDBMS process.

Package: sqlite-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: sqlite
Description: SQLite documentation
 SQLite is a C library that implements an SQL database engine. 
 Programs that link with the SQLite library can have SQL database 
 access without running a separate RDBMS process.
 .
 This package contains the documentation that is also available on
 the SQLite homepage.

Package: libsqlite0
Section: libs
Architecture: any
Pre-Depends: ${misc:Depends}
Depends: ${shlibs:Depends}
Description: SQLite shared library
 SQLite is a C library that implements an SQL database engine. 
 Programs that link with the SQLite library can have SQL database 
 access without running a separate RDBMS process.

Package: libsqlite0-dev
Provides: libsqlite-dev
Conflicts: libsqlite-dev
Replaces: libsqlite-dev (<< 2.7.0)
Suggests: sqlite-doc
Section: libdevel
Architecture: any
Depends: libsqlite0 (= ${binary:Version}), libc6-dev, ${misc:Depends}
Description: SQLite development files
 SQLite is a C library that implements an SQL database engine. 
 Programs that link with the SQLite library can have SQL database 
 access without running a separate RDBMS process.
 .
 This package contains the development files (headers, static libraries)

Package: libsqlite-tcl
Conflicts: libsqlite0-tcl
Replaces: libsqlite0-tcl
Suggests: sqlite-doc
Section: interpreters
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SQLite Tcl bindings
 SQLite is a C library that implements an SQL database engine. 
 Programs that link with the SQLite library can have SQL database 
 access without running a separate RDBMS process.
 .
 This package contains the Tcl bindings.
